@page "/add/personali"
@using OpenStreetMapForBlazor
@using Temple.Net.Models
@inject IConfiguration config
@inject IJSRuntime JSRuntime
@using System.Security.Claims
@inject AppDbContext _context
@inject IWebHostEnvironment Environment
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<head>
    <link rel="stylesheet" href="css/styleinput.css" />
</head>

<div class="row">
<div class="col-lg-10 col-xl-9 mx-auto">
<div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
<div class="card-body p-4 p-sm-5">
<h5 class="card-title text-center mb-3 fw-light fs-5">Добавить персоналии</h5>
<EditForm Model="@_parsonalion" OnSubmit="Sumbit">
<div class="form-floating mb-2">
    <input type="text" class="form-control" @bind-value="_parsonalion.LastName">
    <label>Фамилия</label>
</div>

<div class="form-floating mb-2">
    <input type="text" class="form-control" @bind-value="_parsonalion.Name">
    <label>Имя</label>
</div>

<div class="form-floating mb-2">
    <input type="text" class="form-control" @bind-value="_parsonalion.Otch">
    <label>Отчество</label>
</div>

<div class="form-floating mb-2">
    <input class="form-control" @bind-value="_parsonalion.MonaxName">
    <label>Монашеское имя</label>
</div>

<div style="margin-top: 10px; margin-bottom: 10px;">
    <MudDatePicker T="DateTime?" DateFormat="dd.MM.yyyy"  InputMode="DateInputMode.Date" @bind-Date="_parsonalion.Born"/>
    <label>Год рождения</label>
</div>

<div style="margin-top: 10px; margin-bottom: 10px;">
    <MudDatePicker T="DateTime?" DateFormat="dd.MM.yyyy"  @bind-Date="_parsonalion.Death"/>
    <label>Год смерти</label>
</div>
                    
                

<div class="form-floating mb-2">
    <input class="form-control" @bind-value="_parsonalion.PlaceOfDeath">
    <label>Место смерти</label>
</div>

<div class="form-floating mb-2">
    <input class="form-control" @bind-value="_parsonalion.Place1Births">
    <label>Место рождения</label>
</div>

<div>
    <MudSelect T="int" @bind-Value="@selectedNation">
        <MudSelectItem Value="1">Белорус</MudSelectItem>
        <MudSelectItem Value="2">Русский</MudSelectItem>
        <MudSelectItem Value="3">Украинец</MudSelectItem>
        <MudSelectItem Value="4">Не выбрано</MudSelectItem>
    </MudSelect>
    <label>Национальность</label>
</div>

<MudSelect T="int" @bind-Value="@selectedSocial">
    <MudSelectItem Value="1">Из крестьян</MudSelectItem>
    <MudSelectItem Value="2">Из мещан</MudSelectItem>
    <MudSelectItem Value="3">Из духовенства</MudSelectItem>
    <MudSelectItem Value="4">Из служащих</MudSelectItem>
    <MudSelectItem Value="5">Из дворян</MudSelectItem>
    <MudSelectItem Value="6">Не выбрано</MudSelectItem>
</MudSelect>

<br/>

<div>
    <h3 class="card-title text-center mb-3 fw-light fs-5">Образование</h3>

    <div>
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <MudDatePicker T="DateTime?" DateFormat="dd.MM.yyyy" Label="Год поступление" @bind-Date="_parsonalion.Education.YearAdmission"/>
        </div>

        <div class="form-floating mb-2">
            <input class="form-control" @bind-value="_parsonalion.Education.Institution">
            <label>Учреждение образования</label>
        </div>

        <h4 class="card-title text-center mb-3 fw-light fs-5">Уровень образования</h4>
                            
        <div>
            <MudSelect T="int" @bind-Value="@selectedLVLEductaion">
                <MudSelectItem Value="1">Высшее</MudSelectItem>
                <MudSelectItem Value="2">Среднее</MudSelectItem>
                <MudSelectItem Value="3">Неполное-среднее</MudSelectItem>
                <MudSelectItem Value="4">Начальное</MudSelectItem>
                <MudSelectItem Value="5">Не выбрано</MudSelectItem>
            </MudSelect>
        </div>

        <div style="margin-top: 10px; margin-bottom: 10px;">
            <MudDatePicker T="DateTime?" DateFormat="yyyy" DisplayFormat="yyyy" Label="Год выпуска" @bind-Date="_parsonalion.Education.YearOfRease"/>
        </div>
    </div>
</div>

<div>
    <h3 class="card-title text-center mb-3 fw-light fs-5">Меры государственного воздействия</h3>

    <div>
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <MudDatePicker T="DateTime?" DateFormat="dd.MM.yyyy"  Label="Год ареста" @bind-Date="_parsonalion.State.YearArrest"/>
        </div>

        @* <div class="form-floating mb-2"> *@
        @*     <input class="form-control" @bind-value="_parsonalion.State.Verdict"> *@
        @*     <label>Приговор</label> *@
        @* </div> *@
                            
        <h4 class="card-title text-center mb-3 fw-light fs-5">Приговор</h4>
                            
        <div>
            <MudSelect T="int" @bind-Value="@selectedVerdict">
                <MudSelectItem Value="1">10 лет тюремного заключения условно</MudSelectItem>
                <MudSelectItem Value="2">15 лет тюремного заключения с применением общественных работ</MudSelectItem>
                <MudSelectItem Value="3">1 год исправительных трудовых работ</MudSelectItem>
                <MudSelectItem Value="4">1 год принудительных работ</MudSelectItem>
                <MudSelectItem Value="5">2 год принудительных работ</MudSelectItem>
                <MudSelectItem Value="6">2 года строгой изоляции</MudSelectItem>
                <MudSelectItem Value="7">2 года тюрьмы с последующей ссылкой</MudSelectItem>
                <MudSelectItem Value="8">3 года строгой изоляции</MudSelectItem>
                <MudSelectItem Value="9">3 месяца принудительных работ</MudSelectItem>
                <MudSelectItem Value="10">5 лет ИТЛ с высылкой семьи на Север</MudSelectItem>
                <MudSelectItem Value="11">5 лет строгой изоляции</MudSelectItem>
                <MudSelectItem Value="12">5 лет строгой изоляции с конфискацией имущества и 3 года поражения в гражданских правах</MudSelectItem>
                <MudSelectItem Value="13">6 месяцев исправительных работ</MudSelectItem>
                <MudSelectItem Value="14">6 месяцев принудительных работ</MudSelectItem>
                <MudSelectItem Value="15">3 месяца принудительных работ</MudSelectItem>
                <MudSelectItem Value="16">8 лет принудительных работ со строгой изоляцией и конфискацией имущества</MudSelectItem>
                <MudSelectItem Value="17">Бессрочная административная высылка</MudSelectItem>
                <MudSelectItem Value="18">Бессрочная ссылка</MudSelectItem>
                <MudSelectItem Value="19">Бессрочное заключение в концлагерь с применением принудительных работ</MudSelectItem>
                <MudSelectItem Value="20">Бессрочное тюремное заключение с тягчайшими принудительными работами без права свидания с родными</MudSelectItem>
                <MudSelectItem Value="21">Высшая мера наказания (расстрел)</MudSelectItem>
                <MudSelectItem Value="22">Высшая мера наказания (расстрел) с заменой на 10 лет заключения в ИТЛ</MudSelectItem>
                <MudSelectItem Value="23">Высшая мера наказания (расстрел) с конфискацией имущества</MudSelectItem>
                <MudSelectItem Value="24">Высылка</MudSelectItem>
                <MudSelectItem Value="25">Не выбрано</MudSelectItem>
            </MudSelect>
        </div>

        <div style="margin-top: 10px; margin-bottom: 10px;">
            <MudDatePicker T="DateTime?" DateFormat="dd.MM.yyyy" Label="Год приговора" @bind-Date="_parsonalion.State.YearSentence"/>
        </div>
                            
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <MudDatePicker T="DateTime?" DateFormat="dd.MM.yyyy" Label="Год реабелитации" @bind-Date="_parsonalion.State.YearRehabilitation"/>
        </div>

        <div class="form-floating mb-2">
            <input class="form-control" @bind-value="_parsonalion.State.Rehabilitaion">
            <label>Реабилитирующий орган</label>
        </div>
    </div>
</div>
                    
<div>
    <h3 class="card-title text-center mb-3 fw-light fs-5">Церковная ориентация</h3>

    <div>
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <MudDatePicker T="DateTime?" DateFormat="dd.MM.yyyy" Label="Год отпадения" @bind-Date="_parsonalion.Oriention.YearFall"/>
        </div>

        <div class="form-floating mb-2">
            <input class="form-control" @bind-value="_parsonalion.Oriention.Oriention">
            <label>Церковная ориентация</label>
        </div>
                            
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <MudDatePicker T="DateTime?" DateFormat="dd.MM.yyyy" Label="Год возрата" @bind-Date="_parsonalion.Oriention.YearRefund"/>
        </div>
    </div>
</div>

<div>
    <h3 class="card-title text-center mb-3 fw-light fs-5">Сан</h3>

    <div>
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <MudDatePicker T="DateTime?" DateFormat="dd.MM.yyyy"  Label="Год рукоположения" @bind-Date="_parsonalion.Sun.YearOrdinations"/>
        </div>

        <MudSelect T="int" @bind-SelectedValue="@selectedSunName" class="form-control js-example-basic-single">
            <MudSelectItem Value="1">Архидиакон</MudSelectItem>
            <MudSelectItem Value="2">Архиепископ</MudSelectItem>
            <MudSelectItem Value="3">Диаког</MudSelectItem>
            <MudSelectItem Value="4">Епископ</MudSelectItem>
            <MudSelectItem Value="5">Игумен</MudSelectItem>
            <MudSelectItem Value="6">Иеродиакон</MudSelectItem>
            <MudSelectItem Value="7">Иеромонах</MudSelectItem>
            <MudSelectItem Value="8">Митрополит</MudSelectItem>
            <MudSelectItem Value="9">Монах</MudSelectItem>
            <MudSelectItem Value="10">Пономарь</MudSelectItem>
            <MudSelectItem Value="11">Послушник</MudSelectItem>
            <MudSelectItem Value="12">Причетник</MudSelectItem>
            <MudSelectItem Value="13">Протодиакон</MudSelectItem>
            <MudSelectItem Value="14">Протоиерей</MudSelectItem>
            <MudSelectItem Value="15">Протопресвитер</MudSelectItem>
            <MudSelectItem Value="16">Псаломщик</MudSelectItem>
            <MudSelectItem Value="17">Священник</MudSelectItem>
            <MudSelectItem Value="17">Не выбрано</MudSelectItem>
        </MudSelect>

        <div style="margin-top: 10px; margin-bottom: 10px;">
            <MudDatePicker T="DateTime?" DateFormat="dd.MM.yyyy"  Label="Год снятия сана" @bind-Date="_parsonalion.Sun.YearDefrock"/>
        </div>
    </div>
</div>

<div>
    <h3 class="card-title text-center mb-3 fw-light fs-5">Награды</h3>

    <div>
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <MudDatePicker T="DateTime?" DateFormat="dd.MM.yyyy"  Label="Год награждения" @bind-Date="_parsonalion.Award.YearAward"/>
        </div>

        <MudSelect T="int" @bind-SelectedValue="@selectedAward" class="form-control js-example-basic-single">
            <MudSelectItem Value="1">Набедренник</MudSelectItem>
            <MudSelectItem Value="2">Камилавка фиолетового цвета</MudSelectItem>
            <MudSelectItem Value="3">Наперсный крест</MudSelectItem>
            <MudSelectItem Value="4">Палица</MudSelectItem>
            <MudSelectItem Value="5">Крест с украшениями</MudSelectItem>
            <MudSelectItem Value="6">Служение Божественной литургии с отверстыми Царскими вратами до Херувимской песни</MudSelectItem>
            <MudSelectItem Value="7">Служение Божественной литургии с отверстыми Царскими Вратами до "Отче наш"</MudSelectItem>
            <MudSelectItem Value="8">Митра</MudSelectItem>
            <MudSelectItem Value="9">Право ношения второго наперсного креста с украшениями</MudSelectItem>
            <MudSelectItem Value="10">Патриарший наперстый крест</MudSelectItem>
            <MudSelectItem Value="11">Двойной орарь</MudSelectItem>
            <MudSelectItem Value="12">Не выбрано</MudSelectItem>
        </MudSelect>
    </div>
</div>

<div style="margin-top: 10px; margin-bottom: 10px;">
    <MudDatePicker T="DateTime?" DateFormat="dd.MM.yyyy"  Label="Год упоминания" @bind-Date="_parsonalion.YearMention"/>
</div>
                    
<div class="form-floating mb-2">
    <input class="form-control" @bind-value="_parsonalion.Note">
    <label>Примечание</label>
</div>

<div class="form-floating mb-2">
    <input class="form-control" @bind-value="_parsonalion.Source">
    <label>Источник информации (в виде библиографической записи)</label>
</div>

<div class="input-file-row">
    <label class="input-file">
        <InputFile OnChange="LoadPhoto" accept="image/*"/>
        <span>Выберите фотографию</span>
    </label>
    <div class="input-file-list"></div>
</div>

<div class="input-file-row">
    <label class="input-file">
        <InputFile OnChange="LoadFile"/>
        <span>Выберите файл</span>
    </label>
    <div class="input-file-list"></div>
</div>
                    
<div class="d-grid mb-2">
    <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" style="margin-top: 20px;" type="submit">Добавить</button>
</div>
</EditForm>
</div>
</div>
</div>
</div>

@code {
    public MapPosition position;
    public bool btnActive;

    private int selectedSunName = 1;

    private int selectedAward = 1;

    private int selectedNation = 1;

    private int selectedSocial = 1;

    private int selectedLVLEductaion = 1;

    private int selectedVerdict = 1;

    MapPosition? defPosition;

    private Parsonalion? _parsonalion = new()
    {
        Id = Guid.NewGuid().ToString("N"),
        Sun = new()
        {
            Id = Guid.NewGuid().ToString("N")
        },
        Award = new()
        {
            Id = Guid.NewGuid().ToString("N")
        },
        Education = new()
        {
            Id = Guid.NewGuid().ToString("N")
        },
        State = new()
        {
            Id = Guid.NewGuid().ToString("N")
        },
        Oriention = new()
        {
            Id = Guid.NewGuid().ToString("N")
        }
    };

    private long maxFileSize = 1024 * 500;

    private async Task LoadPhoto(InputFileChangeEventArgs e)
    {
        var trustedFileName = $"{Guid.NewGuid().ToString("N").Remove(6)}.png";

        var path = $@"wwwroot/photos/{trustedFileName}";

        await using FileStream fs = new(path, FileMode.Create);
        await e.File.OpenReadStream(maxFileSize).CopyToAsync(fs);

        _parsonalion.Photo = path;
    }

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        var path = $@"wwwroot/files/{e.File.Name}";

        await using FileStream fs = new(path, FileMode.Create);
        await e.File.OpenReadStream(maxFileSize).CopyToAsync(fs);

        _parsonalion.File = path;
    }

    protected override void OnInitialized()
    {
        defPosition = new MapPosition() { Lat = config.GetValue<double>("Main:DefLat"), Lng = config.GetValue<double>("Main:DefLng") };
    }

    public void MapClickEvent(MapClickEventArgs args)
    {
        //events.Add(DateTime.Now, $"Map clicked at Lat: {args.Position.Lat}, Lng: {args.Position.Lng}");

        if (args != null) position = args.Position;

        //btnActive = !(position.Lng == defPosition.Lng && position.Lat == defPosition.Lat);
        //actualJson = JsonConvert.SerializeObject(args);

        //StateHasChanged();
    }

    private async Task Sumbit()
    {
        switch (selectedSunName)
        {
            case 1:
                _parsonalion.Sun.SunName = "Архидиакон";
                break;
            case 2:
                _parsonalion.Sun.SunName = "Архиепископ";
                break;
            case 3:
                _parsonalion.Sun.SunName = "Диаког";
                break;
            case 4:
                _parsonalion.Sun.SunName = "Епископ";
                break;
            case 5:
                _parsonalion.Sun.SunName = "Игумен";
                break;
            case 6:
                _parsonalion.Sun.SunName = "Иеродиакон";
                break;
            case 7:
                _parsonalion.Sun.SunName = "Иеромонах";
                break;
            case 8:
                _parsonalion.Sun.SunName = "Митрополит";
                break;
            case 9:
                _parsonalion.Sun.SunName = "Монах";
                break;
            case 10:
                _parsonalion.Sun.SunName = "Пономарь";
                break;
            case 11:
                _parsonalion.Sun.SunName = "Послушник";
                break;
            case 12:
                _parsonalion.Sun.SunName = "Причетник";
                break;
            case 13:
                _parsonalion.Sun.SunName = "Протодиакон";
                break;
            case 14:
                _parsonalion.Sun.SunName = "Протоиерей";
                break;
            case 15:
                _parsonalion.Sun.SunName = "Протопресвитер";
                break;
            case 16:
                _parsonalion.Sun.SunName = "Псаломщик";
                break;
            case 17:
                _parsonalion.Sun.SunName = "Священик";
                break;
            case 18:
                _parsonalion.Sun.SunName = "Не выбрано";
                break;
        }

        switch (selectedAward)
        {
            case 1:
                _parsonalion.Award.Name = "Набедренник";
                break;
            case 2:
                _parsonalion.Award.Name = "Камилавка фиолетового цвета";
                break;
            case 3:
                _parsonalion.Award.Name = "Наперсный крест";
                break;
            case 4:
                _parsonalion.Award.Name = "Палица";
                break;
            case 5:
                _parsonalion.Award.Name = "Крест с украшениями";
                break;
            case 6:
                _parsonalion.Award.Name = "Служение Божественной литургии с отверстыми Царскими вратами до Херувимской песни";
                break;
            case 7:
                _parsonalion.Award.Name = "Служение Божественной литургии с отверстыми Царскими Вратами до \"Отче наш";
                break;
            case 8:
                _parsonalion.Award.Name = "Митра";
                break;
            case 9:
                _parsonalion.Award.Name = "Право ношения второго наперсного креста с украшениями";
                break;
            case 10:
                _parsonalion.Award.Name = "Патриарший наперстый крест";
                break;
            case 11:
                _parsonalion.Award.Name = "Двойной орарь";
                break;
            case 12:
                _parsonalion.Award.Name = "Не выбрано";
                break;
        }

        switch (selectedNation)
        {
            case 1:
                _parsonalion.Nation = "Белорус";
                break;
            case 2:
                _parsonalion.Nation = "Русский";
                break;
            case 3:
                _parsonalion.Nation = "Украинец";
                break;
            case 4:
                _parsonalion.Nation = "Не выбрано";
                break;
        }

        switch (selectedSocial)
        {
            case 1:
                _parsonalion.SocialOrigin = "Из крестьян";
                break;
            case 2:
                _parsonalion.SocialOrigin = "Из мещан";
                break;
            case 3:
                _parsonalion.SocialOrigin = "Из духовенства";
                break;
            case 4:
                _parsonalion.SocialOrigin = "Из служащих";
                break;
            case 5:
                _parsonalion.SocialOrigin = "Из дворян";
                break;
            case 6:
                _parsonalion.SocialOrigin = "Не выбрано";
                break;
        }

        switch (selectedLVLEductaion)
        {
            case 1:
                _parsonalion.LVLEducation = "Высшее";
                break;
            case 2:
                _parsonalion.LVLEducation = "Среднее";
                break;
            case 3:
                _parsonalion.LVLEducation = "Неполное-среднеее";
                break;
            case 4:
                _parsonalion.LVLEducation = "Начальное";
                break;
            case 5:
                _parsonalion.LVLEducation = "Не выбрано";
                break;
        }

        switch (selectedVerdict)
        {
            case 1:
                _parsonalion.State.Verdict = "10 лет тюремного заключения условно";
                break;
            case 2:
                _parsonalion.State.Verdict = "15 лет тюремного заключения с применением общественных работ";
                break;
            case 3:
                _parsonalion.State.Verdict = "1 год исправительных трудовых работ";
                break;
            case 4:
                _parsonalion.State.Verdict = "1 год принудительных работ";
                break;
            case 5:
                _parsonalion.State.Verdict = "2 год принудительных работ";
                break;
            case 6:
                _parsonalion.State.Verdict = "2 года строгой изоляции";
                break;
            case 7:
                _parsonalion.State.Verdict = "2 года тюрьмы с последующей ссылкой";
                break;
            case 8:
                _parsonalion.State.Verdict = "2 года тюрьмы с последующей ссылкой";
                break;
            case 9:
                _parsonalion.State.Verdict = "3 месяца принудительных работ";
                break;
            case 10:
                _parsonalion.State.Verdict = "5 лет ИТЛ с высылкой семьи на Север";
                break;
            case 11:
                _parsonalion.State.Verdict = "5 лет строгой изоляции";
                break;
            case 12:
                _parsonalion.State.Verdict = "5 лет строгой изоляции с конфискацией имущества и 3 года поражения в гражданских правах";
                break;
            case 13:
                _parsonalion.State.Verdict = "6 месяцев исправительных работ";
                break;
            case 14:
                _parsonalion.State.Verdict = "6 месяцев принудительных работ";
                break;
            case 15:
                _parsonalion.State.Verdict = "3 месяца принудительных работ";
                break;
            case 16:
                _parsonalion.State.Verdict = "8 лет принудительных работ со строгой изоляцией и конфискацией имущества";
                break;
            case 17:
                _parsonalion.State.Verdict = "Бессрочная административная высылка";
                break;
            case 18:
                _parsonalion.State.Verdict = "Бессрочная ссылка";
                break;
            case 19:
                _parsonalion.State.Verdict = "Бессрочное заключение в концлагерь с применением принудительных работ";
                break;
            case 20:
                _parsonalion.State.Verdict = "Бессрочное тюремное заключение с тягчайшими принудительными работами без права свидания с родными";
                break;
            case 21:
                _parsonalion.State.Verdict = "Высшая мера наказания (расстрел)";
                break;
            case 22:
                _parsonalion.State.Verdict = "Высшая мера наказания (расстрел) с заменой на 10 лет заключения в ИТЛ";
                break;
            case 23:
                _parsonalion.State.Verdict = "Высшая мера наказания (расстрел) с конфискацией имущества";
                break;
            case 24:
                _parsonalion.State.Verdict = "Высылка";
                break;
            case 25:
                _parsonalion.State.Verdict = "Не выбрано";
                break;
        }

        await _context.Parsonalions.AddAsync(_parsonalion);
        await _context.SaveChangesAsync();
        NavigationManager.NavigateTo("/", true);
    }
}