@using OpenStreetMapForBlazor
@using Temple.Net.Models
@inject IConfiguration config
@inject IJSRuntime JSRuntime
@inject AppDbContext _context
@using Newtonsoft.Json
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

 <div class="row">
     <div class="col-lg-10 col-xl-9 mx-auto">
         <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
             <div class="card-body p-4 p-sm-5">
                 <h5 class="card-title text-center mb-3 fw-light fs-5">Добавить храм</h5>
                 <EditForm Model="@_temple" OnSubmit="Sumbit">
                     <div class="form-floating mb-2">
                         <input type="text" class="form-control" @bind-value="_temple.Name">
                         <label>Название</label>
                     </div>

                     <div>
                         <h3 class="card-title text-center mb-3 fw-light fs-5">Тип храма</h3>
                         
                         <Select TValue="int" @bind-SelectedValue="@selectedType" class="form-control js-example-basic-single">
                             <SelectItem Value="1">Кафедральный</SelectItem>
                             <SelectItem Value="2">Кладбищенский</SelectItem>
                             <SelectItem Value="3">Приходской</SelectItem>
                         </Select>
                     </div>

                     <div style="margin-top: 10px; margin-bottom: 10px;">
                         <DatePicker TValue="DateTime?" InputFormat="dd.MM.yyyy" DisplayFormat="dd.MM.yyyy" InputMode="DateInputMode.Date" Placeholder="Год основания" @bind-Date="_temple.DateStart"/>
                     </div>

                     <br/>

                     <div>
                         <h3 class="card-title text-center mb-3 fw-light fs-5">Назначение после закрытия</h3>

                         <div>

                             <div style="margin-top: 10px; margin-bottom: 10px;">
                                 <DatePicker TValue="DateTime?" InputFormat="dd.MM.yyyy" DisplayFormat="dd.MM.yyyy" Placeholder="Год закрытия" @bind-Date="_temple.DateEnd"/>
                             </div>

                             <div style="margin-top: 10px; margin-bottom: 10px;">
                                 <DatePicker TValue="DateTime?" InputFormat="dd.MM.yyyy" DisplayFormat="dd.MM.yyyy" Placeholder="Год приспособления" @bind-Date="_temple.YearAdaptation"/>
                             </div>

                             <Select TValue="int" @bind-SelectedValue="@selectedAfterClosing" class="form-control js-example-basic-single">
                                 <SelectItem Value="1">Зернохранилище</SelectItem>
                                 <SelectItem Value="2">Клуб</SelectItem>
                                 <SelectItem Value="3">Склад</SelectItem>
                             </Select>
                             
                         </div>
                     </div>

                     <div style="margin-top: 10px; margin-bottom: 10px;">
                         <DatePicker TValue="DateTime?" InputFormat="dd.MM.yyyy" DisplayFormat="dd.MM.yyyy" Placeholder="Год уничтожения" @bind-Date="_temple.YearDestruction"/>
                     </div>

                     <div>
                         <h3 class="card-title text-center mb-3 fw-light fs-5">Церковная ориентация</h3>

                         <div>
                             <div style="margin-top: 10px; margin-bottom: 10px;">
                                 <DatePicker TValue="DateTime?" InputFormat="dd.MM.yyyy" DisplayFormat="dd.MM.yyyy" Placeholder="Год отпадения" @bind-Date="_temple.Oriention.YearFall"/>
                             </div>

                             @* <div class="form-floating mb-2"> *@
                             @*     <input class="form-control" @bind-value="_temple.Oriention.Oriention"> *@
                             @*     <label>Церковная ориентация</label> *@
                             @* </div> *@

                             <Select TValue="int" @bind-SelectedValue="@selectedOriention" class="form-control js-example-basic-single">
                                 <SelectItem Value="1">Автокефальная</SelectItem>
                                 <SelectItem Value="2">Обновленческая</SelectItem>
                                 <SelectItem Value="3">Тихоновская</SelectItem>
                                 <SelectItem Value="4">Сергиевская</SelectItem>
                             </Select>

                             <div style="margin-top: 10px; margin-bottom: 10px;">
                                 <DatePicker TValue="DateTime?" InputFormat="dd.MM.yyyy" DisplayFormat="dd.MM.yyyy" Placeholder="Год возрата" @bind-Date="_temple.Oriention.YearRefund"/>
                             </div>
                         </div>
                     </div>

                     <div>
                         <h3 class="card-title text-center mb-3 fw-light fs-5">Количество прихожан</h3>

                         <div>
                             <div style="margin-top: 10px; margin-bottom: 10px;">
                                 <DatePicker TValue="DateTime?" InputFormat="dd.MM.yyyy" DisplayFormat="dd.MM.yyyy" Placeholder="Год" @bind-Date="_temple.ParshYear"/>
                             </div>

                             <div class="form-floating mb-2">
                                 <input type="number" class="form-control" @bind-value="_temple.Quantity">
                                 <label>Количество</label>
                             </div>
                         </div>
                     </div>

                     <div>
                         <h3 class="card-title text-center mb-3 fw-light fs-5">Ориентация епархии</h3>

                         <Select TValue="int" @bind-SelectedValue="@selectedOriention" class="form-control js-example-basic-single">
                             <SelectItem Value="1">Автокефальная</SelectItem>
                             <SelectItem Value="2">Обновленческая</SelectItem>
                             <SelectItem Value="3">Тихоновская</SelectItem>
                         </Select>
                     </div>

                     <div>
                         <h3 class="card-title text-center mb-3 fw-light fs-5">Епархии</h3>
                         
                         <Select TValue="int" @bind-SelectedValue="@selectedDiocese" class="form-control js-example-basic-single">
                             @if (selectedOriention == 1)
                             {
                                 <SelectItem Value="1">Минская</SelectItem>
                             }
                             else if (selectedOriention == 2)
                             {
                                 <SelectItem Value="2">Бобруйская</SelectItem>
                                 <SelectItem Value="3">Велижско-Высочанская</SelectItem>
                                 <SelectItem Value="4">Витебская</SelectItem>
                                 <SelectItem Value="5">Гомельская</SelectItem>
                                 <SelectItem Value="6">Минская</SelectItem>
                                 <SelectItem Value="7">Могилевская</SelectItem>
                                 <SelectItem Value="8">Мозырская</SelectItem>
                                 <SelectItem Value="9">Мстиславская</SelectItem>
                                 <SelectItem Value="10">Оршанская</SelectItem>
                                 <SelectItem Value="11">Полоцкая</SelectItem>
                                 <SelectItem Value="12">Слуцкая</SelectItem>
                                 <SelectItem Value="13">Чаусская</SelectItem>
                             }
                             else if (selectedOriention == 3)
                             {
                                 <SelectItem Value="14">Гомельская</SelectItem>
                                 <SelectItem Value="15">Могилевская и Мстиславская</SelectItem>
                                 <SelectItem Value="16">Минская и Туровская</SelectItem>
                                 <SelectItem Value="17">Минская</SelectItem>
                                 <SelectItem Value=18>Минская и Белорусская</SelectItem>
                                 <SelectItem Value="19">Полоцкая и Витебская</SelectItem>
                             }
                         </Select>
                     </div>

                     <div>
                         <h3 class="card-title text-center mb-3 fw-light fs-5">Губернии и уезды</h3>

                         <Select TValue="int" @bind-SelectedValue="@selectedProvince" class="form-control js-example-basic-single">
                             <SelectGroup Label="Витебская">
                                 <SelectItem Value="1">Велижский </SelectItem>
                                 <SelectItem Value="2">Витебский </SelectItem>
                                 <SelectItem Value="3">Городокский </SelectItem>
                                 <SelectItem Value="4">Дриссенский </SelectItem>
                                 <SelectItem Value="5">Лепельский </SelectItem>
                                 <SelectItem Value="6">Невельский </SelectItem>
                                 <SelectItem Value="7">Полоцкий </SelectItem>
                                 <SelectItem Value="8">Себежский  </SelectItem>
                             </SelectGroup>
                             <SelectGroup Label="Гомельская">
                                 <SelectItem Value="9">Быховский</SelectItem>
                                 <SelectItem Value="10">Гомельский</SelectItem>
                                 <SelectItem Value="11">Могилевский</SelectItem>
                                 <SelectItem Value="12">Рогачевский</SelectItem>
                                 <SelectItem Value="13">Чаусский</SelectItem>
                                 <SelectItem Value="14">Чериковский</SelectItem>
                                 <SelectItem Value="15">Горецкий</SelectItem>
                                 <SelectItem Value="16">Климовический</SelectItem>
                                 <SelectItem Value="17">Оршанский</SelectItem>
                             </SelectGroup>
                             <SelectGroup Label="Минская">
                                 <SelectItem Value="18">Бобруйский</SelectItem>
                                 <SelectItem Value="19">Борисовский</SelectItem>
                                 <SelectItem Value="20">Игуменский</SelectItem>
                                 <SelectItem Value="21">Минский</SelectItem>
                                 <SelectItem Value="22">Мозырский</SelectItem>
                                 <SelectItem Value="23">Речицкий</SelectItem>
                                 <SelectItem Value="24">Слуцкий </SelectItem>
                             </SelectGroup>
                             <SelectGroup Label="Могилевская">
                                 <SelectItem Value="25">Быховский</SelectItem>
                                 <SelectItem Value="26">Гомельский</SelectItem>
                                 <SelectItem Value="27">Горецкий</SelectItem>
                                 <SelectItem Value="28">Климовичский</SelectItem>
                                 <SelectItem Value="29">Могилевский</SelectItem>
                                 <SelectItem Value="30">Мстиславский</SelectItem>
                                 <SelectItem Value="31">Оршанский</SelectItem>
                                 <SelectItem Value="32">Рогачёвский</SelectItem>
                                 <SelectItem Value="33">Сенненский</SelectItem>
                                 <SelectItem Value="34">Чаусский</SelectItem>
                                 <SelectItem Value="35">Чериковский</SelectItem>
                             </SelectGroup>
                         </Select>
                     </div>

                     <div>
                         <h3 class="card-title text-center mb-3 fw-light fs-5">Округа и районы округов (1924-1930)</h3>

                         <Select TValue="int" @bind-SelectedValue="@selectedDistrict" class="form-control js-example-basic-single">
                             <SelectGroup Label="Бобруйский (1924-1930)">
                                 <SelectItem Value="1">Бобруйский</SelectItem>
                                 <SelectItem Value="2">Бобруйский 1-й</SelectItem>
                                 <SelectItem Value="3">Бобруйский 2-й</SelectItem>
                                 <SelectItem Value="4">Буда-Кошелевский</SelectItem>
                                 <SelectItem Value="5">Городецкий</SelectItem>
                                 <SelectItem Value="6">Глусский</SelectItem>
                                 <SelectItem Value="7">Жлобинский</SelectItem>
                                 <SelectItem Value="8">Кличевский</SelectItem>
                                 <SelectItem Value="9">Краснослободский</SelectItem>
                                 <SelectItem Value="10">Любанский</SelectItem>
                                 <SelectItem Value="11">Осиповичский</SelectItem>
                                 <SelectItem Value="12">Паричский</SelectItem>
                                 <SelectItem Value="13">Рогачевский</SelectItem>
                                 <SelectItem Value="14">Свислочский</SelectItem>
                                 <SelectItem Value="15">Слуцкий</SelectItem>
                                 <SelectItem Value="16">Старобинский</SelectItem>
                                 <SelectItem Value="17">Стародорожский</SelectItem>
                                 <SelectItem Value="18">Стрешинский</SelectItem>
                             </SelectGroup>
                             <SelectGroup Label="Борисовский (1924-1927)">
                                 <SelectItem Value="19">Бегомльский</SelectItem>
                                 <SelectItem Value="20">Березинский</SelectItem>
                                 <SelectItem Value="21">Борисовский</SelectItem>
                                 <SelectItem Value="22">Зембинский</SelectItem>
                                 <SelectItem Value="23">Крупский</SelectItem>
                                 <SelectItem Value="24">Лепельский</SelectItem>
                                 <SelectItem Value="25">Плещеницкий</SelectItem>
                                 <SelectItem Value="26">Холопеничский</SelectItem>
                                 <SelectItem Value="27">Черейский</SelectItem>
                             </SelectGroup>
                             <SelectGroup Label="Витебский (1924-1930)">
                                 <SelectItem Value="28">Бешенковичский</SelectItem>
                                 <SelectItem Value="29">Витебский</SelectItem>
                                 <SelectItem Value="30">Высочанский</SelectItem>
                                 <SelectItem Value="31">Городокский</SelectItem>
                                 <SelectItem Value="32">Езерищенский</SelectItem>
                                 <SelectItem Value="33">Лиозненский</SelectItem>
                                 <SelectItem Value="34">Кузнецовский</SelectItem>
                                 <SelectItem Value="35">Межанский</SelectItem>
                                 <SelectItem Value="36">Сенненский</SelectItem>
                                 <SelectItem Value="37">Сиротинский</SelectItem>
                                 <SelectItem Value="38">Суражский</SelectItem>
                                 <SelectItem Value="39">Чашникский</SelectItem>
                             </SelectGroup>
                             <SelectGroup Label="Калининский (1924-1927) ">
                                 <SelectItem Value="40">Белынковичский</SelectItem>
                                 <SelectItem Value="41">Климовичский</SelectItem>
                                 <SelectItem Value="42">Кастюковичский</SelectItem>
                                 <SelectItem Value="43">Краснопольский</SelectItem>
                                 <SelectItem Value="44">Кричевский</SelectItem>
                                 <SelectItem Value="45">Милославичский</SelectItem>
                                 <SelectItem Value="46">Мстиславский</SelectItem>
                                 <SelectItem Value="47">Расненский</SelectItem>
                                 <SelectItem Value="48">Хотимский</SelectItem>
                                 <SelectItem Value="49">Чериковский</SelectItem>
                             </SelectGroup>
                             <SelectGroup Label="Могилевский (1924-1930)">
                                 <SelectItem Value="50">Белыничский</SelectItem>
                                 <SelectItem Value="51">Березинский</SelectItem>
                                 <SelectItem Value="52">Борисовский</SelectItem>
                                 <SelectItem Value="53">Журовичский</SelectItem>
                                 <SelectItem Value="54">Кастюковичский</SelectItem>
                                 <SelectItem Value="55">Климовичский</SelectItem>
                                 <SelectItem Value="56">Кормянский</SelectItem>
                                 <SelectItem Value="57">Краснопольский</SelectItem>
                                 <SelectItem Value="58">Кричевский</SelectItem>
                                 <SelectItem Value="59">Луполовский</SelectItem>
                                 <SelectItem Value="60">Милославичский</SelectItem>
                                 <SelectItem Value="61">Могилевский</SelectItem>
                                 <SelectItem Value="62">Пропойский</SelectItem>
                                 <SelectItem Value="63">Хотимский</SelectItem>
                                 <SelectItem Value="64">Чаусский</SelectItem>
                                 <SelectItem Value="65">Чериковский</SelectItem>
                                 <SelectItem Value="66">Чечевичский</SelectItem>
                                 <SelectItem Value="67">Шкловский</SelectItem>
                             </SelectGroup>
                             <SelectGroup Label="Минский (1924-1930)">
                                 <SelectItem Value="68">Бегомльский</SelectItem>
                                 <SelectItem Value="69">Березинский</SelectItem>
                                 <SelectItem Value="70">Борисовский</SelectItem>
                                 <SelectItem Value="71">Гресский</SelectItem>
                                 <SelectItem Value="72">Койдановский</SelectItem>
                                 <SelectItem Value="73">Зембинский</SelectItem>
                                 <SelectItem Value="74">Койдановский</SelectItem>
                                 <SelectItem Value="74">Копыльский</SelectItem>
                                 <SelectItem Value="76">Острошицко-Городокский</SelectItem>
                                 <SelectItem Value="77">Плещеницкий</SelectItem>
                                 <SelectItem Value="78">Пуховичский</SelectItem>
                                 <SelectItem Value="79">Самохваловичский</SelectItem>
                                 <SelectItem Value="80">Смиловичский</SelectItem>
                                 <SelectItem Value="81">Смолевичский</SelectItem>
                                 <SelectItem Value="82">Узденский</SelectItem>
                                 <SelectItem Value="83">Червенский</SelectItem>
                                 <SelectItem Value="84">Холопеничский</SelectItem>
                                 <SelectItem Value="85">Шацкий</SelectItem>
                             </SelectGroup>
                             <SelectGroup Label="Оршанский (1924-1930)">
                                 <SelectItem Value="86">Богушевский</SelectItem>
                                 <SelectItem Value="87">Горецкий</SelectItem>
                                 <SelectItem Value="88">Дрибинский</SelectItem>
                                 <SelectItem Value="89">Дубровенский</SelectItem>
                                 <SelectItem Value="90">Копысский</SelectItem>
                                 <SelectItem Value="91">Кохановский</SelectItem>
                                 <SelectItem Value="92">Круглянский</SelectItem>
                                 <SelectItem Value="93">Лядненский</SelectItem>
                                 <SelectItem Value="94">Мстиславский</SelectItem>
                                 <SelectItem Value="95">Оршанский</SelectItem>
                                 <SelectItem Value="96">Расненский</SelectItem>
                                 <SelectItem Value="97">Толочинский</SelectItem>
                             </SelectGroup>
                             <SelectGroup Label="Полоцкий (1924-1930)">
                                 <SelectItem Value="98">Ветринский</SelectItem>
                                 <SelectItem Value="99">Волынецкий</SelectItem>
                                 <SelectItem Value="100">Борковичский</SelectItem>
                                 <SelectItem Value="18">Дретунский</SelectItem>
                                 <SelectItem Value="101">Краснопольский</SelectItem>
                                 <SelectItem Value="102">Дриссенский</SelectItem>
                                 <SelectItem Value="103">Освейский</SelectItem>
                                 <SelectItem Value="104">Полоцкий</SelectItem>
                                 <SelectItem Value="105">Россонский</SelectItem>
                                 <SelectItem Value="106">Улльский</SelectItem>
                                 <SelectItem Value="107">Ушачский</SelectItem>
                             </SelectGroup>
                             <SelectGroup Label="Слуцкий (1924-1927)">
                                 <SelectItem Value="108">Гресский</SelectItem>
                                 <SelectItem Value="109">Копыльский</SelectItem>
                                 <SelectItem Value="110">Краснослободский</SelectItem>
                                 <SelectItem Value="111">Любанский</SelectItem>
                                 <SelectItem Value="112">Слуцкий</SelectItem>
                                 <SelectItem Value="113">Стародорожский</SelectItem>
                                 <SelectItem Value="114">Плещеницкий</SelectItem>
                                 <SelectItem Value="115">Старобинский</SelectItem>
                             </SelectGroup>
                             <SelectGroup Label="Гомельский (1926-1930) ">
                                 <SelectItem Value="116">Брагинский</SelectItem>
                                 <SelectItem Value="117">Буда-Кошелевский</SelectItem>
                                 <SelectItem Value="118">Ветковский</SelectItem>
                                 <SelectItem Value="119">Гомельский</SelectItem>
                                 <SelectItem Value="120">Дятловичский</SelectItem>
                                 <SelectItem Value="121">Добрушский</SelectItem>
                                 <SelectItem Value="122">Краснобудский</SelectItem>
                                 <SelectItem Value="123">Носовичский</SelectItem>
                                 <SelectItem Value="124">Светиловичский</SelectItem>
                                 <SelectItem Value="124">Уваровичский</SelectItem>
                                 <SelectItem Value="125">Чечерский</SelectItem>
                                 <SelectItem Value="126">Брагинский</SelectItem>
                                 <SelectItem Value="127">Комаринский</SelectItem>
                                 <SelectItem Value="128">Лоевский</SelectItem>
                                 <SelectItem Value="129">Речицкий</SelectItem>
                                 <SelectItem Value="130">Хойникский</SelectItem>
                                 <SelectItem Value="131">Тереховский</SelectItem>
                                 <SelectItem Value="132">Буда-Кошелевский</SelectItem>
                             </SelectGroup>
                             <SelectGroup Label="Речицкий (1926-1927)">
                                 <SelectItem Value="133">Брагинский</SelectItem>
                                 <SelectItem Value="134">Василевичский</SelectItem>
                                 <SelectItem Value="35">Горвальский</SelectItem>
                                 <SelectItem Value="36">Комаринский</SelectItem>
                                 <SelectItem Value="37">Лоевский</SelectItem>
                                 <SelectItem Value="138">Речицкий</SelectItem>
                                 <SelectItem Value="139">Хойникский</SelectItem>
                                 <SelectItem Value="140">Холмечский</SelectItem>
                                 <SelectItem Value="141">Юровичский</SelectItem>
                             </SelectGroup>
                         </Select>
                     </div>

                         <div style="height: 200px; margin-top: 20px;">
                         <OSMap Click="@MapClickEvent" CenterMap="@defPosition" />
                     </div>

                     <div class="d-grid mb-2">
                         <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" style="margin-top: 20px;" type="submit">Добавить</button>
                     </div>
                 </EditForm>
             </div>
         </div>
     </div>
 </div>

<link rel="stylesheet" href="css/select.css"/>

<script>
    $(".default_option").click(function(){
        $(this).parent().toggleClass("active");
    })

    $(".select_ul li").click(function(){
        var currentele = $(this).html();
        $(".default_option li").html(currentele);
        $(this).parents(".select_wrap").removeClass("active");
    })
</script>
 
@code {
    public MapPosition position;
    public bool btnActive;

    MapPosition? defPosition;

    private int selectedType = 1;

    private int selectedOriention = 1;

    private int selectedDiocese = 1;

    private int selectedDistrict = 1;

    private int selectedProvince = 1;

    private int selectedAfterClosing = 1;

    private int selectedTempleOriention = 1;

    private Temple? _temple = new()
    {
        AppointmentsAfterEnd = new()
        {
            Id = Guid.NewGuid().ToString("N")
        },
        Oriention = new()
        {
            Id = Guid.NewGuid().ToString("N")
        },
        Id = Guid.NewGuid().ToString("N")
    };

    protected override void OnInitialized()
    {
        defPosition = new MapPosition() { Lat = config.GetValue<double>("Main:DefLat"), Lng = config.GetValue<double>("Main:DefLng") };
    }

    public void MapClickEvent(MapClickEventArgs args)
    {
        //events.Add(DateTime.Now, $"Map clicked at Lat: {args.Position.Lat}, Lng: {args.Position.Lng}");

        if (args != null) position = args.Position;

        //btnActive = !(position.Lng == defPosition.Lng && position.Lat == defPosition.Lat);
        //actualJson = JsonConvert.SerializeObject(args);

        //StateHasChanged();
    }

    private async Task Sumbit()
    {
        string url = $"https://catalog.api.2gis.com/3.0/items/geocode?lon={defPosition.Lng}&lat={defPosition.Lat}&fields=items.point&key=2c437b2b-790f-4f22-9ec5-3889ea3e0bc4";

        using HttpClient client = new HttpClient();
        HttpResponseMessage response = await client.GetAsync(url.Replace(",", "."));

        if (response.IsSuccessStatusCode)
        {
            string content = await response.Content.ReadAsStringAsync();
            Console.WriteLine(content);

            var data = JsonConvert.DeserializeObject<dynamic>(content);

            // Получение списка элементов
            var items = data.result.items;

            // Цикл по всем элементам
            foreach (var item in items)
            {
                Console.WriteLine($"Full Name: {item.full_name}");
                Console.WriteLine($"Name: {item.name}");
                Console.WriteLine($"Subtype: {item.subtype}");
                Console.WriteLine();
                _temple.Province = item.full_name;

                break;
            }

            switch (selectedType)
            {
                case 1:
                    _temple.Type = "Кафедральный";
                    break;
                case 2:
                    _temple.Type = "Кладбищенский";
                    break;
                case 3:
                    _temple.Type = "Монастырский";
                    break;
                case 4:
                    _temple.Type = "Приходской";
                    break;
            }

            switch (selectedOriention)
            {
                case 1:
                    _temple.OrientationDiocesse = "Автокефальная";
                    break;
                case 2:
                    _temple.OrientationDiocesse = "Обновлеченская";
                    break;
                case 3:
                    _temple.OrientationDiocesse = "Тихоновская";
                    break;
                case 4:
                    _temple.OrientationDiocesse = "Сергиевская";
                    break;
            }

            switch (selectedDiocese)
            {
                case 1:
                    _temple.OrientationDiocesse = "Минская";
                    break;
                case 2:
                    _temple.OrientationDiocesse = "Бобруйская";
                    break;
                case 3:
                    _temple.OrientationDiocesse = "Велижско-Высочанская";
                    break;
                case 4:
                    _temple.OrientationDiocesse = "Витебская";
                    break;
                case 5:
                    _temple.OrientationDiocesse = "Гомельская";
                    break;
                case 6:
                    _temple.OrientationDiocesse = "Минская";
                    break;
                case 7:
                    _temple.OrientationDiocesse = "Могилевская";
                    break;
                case 8:
                    _temple.OrientationDiocesse = "Мозырская";
                    break;
                case 9:
                    _temple.OrientationDiocesse = "Мстиславская";
                    break;
                case 10:
                    _temple.OrientationDiocesse = "Оршанская";
                    break;
                case 11:
                    _temple.OrientationDiocesse = "Полоцкая";
                    break;
                case 12:
                    _temple.OrientationDiocesse = "Слуцкая";
                    break;
                case 13:
                    _temple.OrientationDiocesse = "Чаусская";
                    break;
                case 14:
                    _temple.OrientationDiocesse = "Гомельская";
                    break;
                case 15:
                    _temple.OrientationDiocesse = "Могилевская и Мстиславская";
                    break;
                case 16:
                    _temple.OrientationDiocesse = "Минская и Туровская";
                    break;
                case 17:
                    _temple.OrientationDiocesse = "Минская";
                    break;
                case 18:
                    _temple.OrientationDiocesse = "Минская и Белорусская";
                    break;
                case 19:
                    _temple.OrientationDiocesse = "Полоцкая и Витебская";
                    break;
            }

            switch (selectedAfterClosing)
            {
                case 1:
                    _temple.AppointmentsAfterEnd.Appointmenrs = "Зернохранилище";
                    break;
                case 2:
                    _temple.AppointmentsAfterEnd.Appointmenrs = "Клуб";
                    break;
                case 3:
                    _temple.AppointmentsAfterEnd.Appointmenrs = "Склад";
                    break;
            }

            switch (selectedTempleOriention)
            {
                case 1:
                    _temple.Oriention.Oriention = "Автокефальная"; 
                    break;
                case 2:
                    _temple.Oriention.Oriention = "Обновленческая"; 
                    break;
                case 3:
                    _temple.Oriention.Oriention = "Тихоновская"; 
                    break;
                case 4:
                    _temple.Oriention.Oriention = "Сергиевская"; 
                    break;
            }

            switch (selectedDistrict)
            {
                case 1:
                    _temple.District = "Бобруйский";
                    break;
                case 2:
                    _temple.District = "Бобруйский 1-й";
                    break;
                case 3:
                    _temple.District = "Бобруйский 2-й";
                    break;
                case 4:
                    _temple.District = "Буда-Кошелевский";
                    break;
                case 5:
                    _temple.District = "Городецкий";
                    break;
                case 6:
                    _temple.District = "Глусский";
                    break;
                case 7:
                    _temple.District = "Жлобинский";
                    break;
                case 8:
                    _temple.District = "Кличевский";
                    break;
                case 9:
                    _temple.District = "Краснослободский";
                    break;
                case 10:
                _temple.District = "Любанский";
                    break;
                case 11:
                    _temple.District = "Осиповичский";
                    break;
                case 12:
                    _temple.District = "Паричский";
                    break;
                case 13:
                _temple.District = "Рогачевский";
                    break;
                case 14:
                    _temple.District = "Свислочский";
                    break;
                case 15:
                    _temple.District = "Слуцкий";
                    break;
                case 16:
                _temple.District = "Старобинский";
                    break;
                case 17:
                _temple.District = "Стародорожский";
                    break;
                case 18:
                _temple.District = "Стрешинский";
                    break;
                case 19:
                _temple.District = "Бегомльский";
                    break;
                case 20:
                _temple.District = "Березинский";
                    break;
                case 21:
                _temple.District = "Борисовский";
                    break;
                case 22:
                    _temple.District = "Зембинский";
                    break;
                case 23:
                _temple.District = "Крупский";
                    break;
                case 24:
                    _temple.District = "Лепельский";
                    break;
                case 25:
                    _temple.District = "Плещеницкий";
                    break;
                case 26:
                _temple.District = "Холопеничский";
                    break;
                case 27:
                    _temple.District = "Черейский";
                    break;
                case 28:
                _temple.District = "Бешенковичский";
                    break;
                case 29:
                    _temple.District = "Витебский";
                    break;
                case 30:
                    _temple.District = "Высочанский";
                    break;
                case 31:
                    _temple.District = "Городокский";
                    break;
                case 32:
                    _temple.District = "Езерищенский";
                    break;
                case 33:
                    _temple.District = "Лиозненский";
                    break;
                case 34:
                    _temple.District = "Кузнецовский";
                    break;
                case 35:
                    _temple.District = "Межанский";
                    break;
                case 36:
                    _temple.District = "Сенненский";
                    break;
                case 37:
                    _temple.District = "Сиротинский";
                    break;
                case 38:
                    _temple.District = "Суражский";
                    break;
                case 39:
                _temple.District = "Чашникский";
                    break;
                case 40:
                    _temple.District = "Белынковичский";
                    break;
                case 41:
                    _temple.District = "Климовичский";
                    break;
                case 42:
                _temple.District = "Кастюковичский";
                    break;
                case 43:
                    _temple.District = "Краснопольский";
                    break;
                case 44:
                    _temple.District = "Кричевский";
                    break;
                case 45:
                _temple.District = "Милославичский";
                    break;
                case 46:
                _temple.District = "Мстиславский";
                    break;
                case 47:
                _temple.District = "Расненский";
                    break;
                case 48:
                _temple.District = "Хотимский";
                    break;
                case 49:
                _temple.District = "Чериковский";
                    break;
                case 50:
                _temple.District = "Белыничский";
                    break;
                case 51:
                    _temple.District = "Березинский";
                    break;
                case 52:
                _temple.District = "Борисовский";
                    break;
                case 53:
                    _temple.District = "Журовичский";
                    break;
                case 54:
                    _temple.District = "Кастюковичский";
                    break;
                case 55:
                _temple.District = "Климовичский";
                    break;
                case 56:
                    _temple.District = "Кормянский";
                    break;
                case 57:
                _temple.District = "Краснопольский";
                    break;
                case 58:
                    _temple.District = "Кричевский";
                    break;
                case 59:
                    _temple.District = "Луполовский";
                    break;
                case 60:
                    _temple.District = "Милославичский";
                    break;
                case 61:
                    _temple.District = "Могилевский";
                    break;
                case 62:
                    _temple.District = "Пропойский";
                    break;
                case 63:
                    _temple.District = "Хотимский";
                    break;
                case 64:
                    _temple.District = "Чаусский";
                    break;
                case 65:
                    _temple.District = "Чериковский";
                    break;
                case 66:
                    _temple.District = "Чечевичский";
                    break;
                case 67:
                    _temple.District = "Шкловский";
                    break;
                case 68:
                    _temple.District = "Бегомльский";
                    break;
                case 69:
                _temple.District = "Березинский";
                    break;
                case 70:
                    _temple.District = "Борисовский";
                    break;
                case 71:
                    _temple.District = "Гресский";
                    break;
                case 72:
                _temple.District = "Койдановский";
                    break;
                case 73:
                    _temple.District = "Зембинский";
                    break;
                case 74:
                    _temple.District = "Койдановский";
                    break;
                case 75:
                _temple.District = "Копыльский";
                    break;
                case 76:
                _temple.District = "Острошицко-Городокский";
                    break;
                case 77:
                _temple.District = "Плещеницкий";
                    break;
                case 78:
                _temple.District = "Пуховичский";
                    break;
                case 79:
                _temple.District = "Самохваловичский";
                    break;
                case 80:
                _temple.District = "Смиловичский";
                    break;
                case 81:
                    _temple.District = "Смолевичский";
                    break;
                case 82:
                _temple.District = "Узденский";
                    break;
                case 83:
                    _temple.District = "Червенский";
                    break;
                case 84:
                    _temple.District = "Холопеничский";
                    break;
                case 85:
                _temple.District = "Шацкий";
                    break;
                case 86:
                    _temple.District = "Богушевский";
                    break;
                case 87:
                _temple.District = "Горецкий";
                    break;
                case 88:
                    _temple.District = "Дрибинский";
                    break;
                case 89:
                    _temple.District = "Дубровенский";
                    break;
                case 90:
                    _temple.District = "Копысский";
                    break;
                case 91:
                    _temple.District = "Кохановский";
                    break;
                case 92:
                    _temple.District = "Круглянский";
                    break;
                case 93:
                    _temple.District = "Лядненский";
                    break;
                case 94:
                    _temple.District = "Мстиславский";
                    break;
                case 95:
                    _temple.District = "Оршанский";
                    break;
                case 96:
                    _temple.District = "Расненский";
                    break;
                case 97:
                    _temple.District = "Толочинский";
                    break;
                case 98:
                    _temple.District = "Ветринский";
                    break;
                case 99:
                _temple.District = "Волынецкий";
                    break;
                case 100:
                    _temple.District = "Борковичский";
                    break;
                case 101:
                    _temple.District = "Дретунский";
                    break;
                case 102:
                _temple.District = "Краснопольский";
                    break;
                case 103:
                    _temple.District = "Дриссенский";
                    break;
                case 104:
                    _temple.District = "Освейский";
                    break;
                case 105:
                _temple.District = "Полоцкий";
                    break;
                case 106:
                _temple.District = "Россонский";
                    break;
                case 107:
                _temple.District = "Улльский";
                    break;
                case 108:
                _temple.District = "Ушачский"; //todo я тут накосячил и ненмного сместилось(я заебался)
                    break;
                case 109:
                _temple.District = "";
                    break;
                case 110:
                _temple.District = "";
                    break;
                case 111:
                    _temple.District = "";
                    break;
                case 112:
                _temple.District = "";
                    break;
                case 113:
                    _temple.District = "";
                    break;
                case 114:
                    _temple.District = "";
                    break;
                case 115:
                _temple.District = "";
                    break;
                case 116:
                    _temple.District = "";
                    break;
                case 117:
                _temple.District = "";
                    break;
                case 118:
                    _temple.District = "";
                    break;
                case 119:
                    _temple.District = "";
                    break;
                case 120:
                    _temple.District = "";
                    break;
                case 121:
                    _temple.District = "";
                    break;
                case 122:
                    _temple.District = "";
                    break;
                case 123:
                    _temple.District = "";
                    break;
                case 124:
                    _temple.District = "";
                    break;
                case 125:
                    _temple.District = "";
                    break;
                case 126:
                    _temple.District = "";
                    break;
                case 127:
                    _temple.District = "";
                    break;
                case 128:
                    _temple.District = "";
                    break;
                case 129:
                    _temple.District = "";
                    break;
                case 130:
                    _temple.District = "";
                    break;
                case 131:
                    _temple.District = "";
                    break;
                case 132:
                    _temple.District = "";
                    break;
                case 133:
                    _temple.District = "";
                    break;
                case 134:
                    _temple.District = "";
                    break;
                case 135:
                    _temple.District = "";
                    break;
                case 136:
                    _temple.District = "";
                    break;
                case 137:
                    _temple.District = "";
                    break;
                case 138:
                    _temple.District = "";
                    break;
                case 139:
                    _temple.District = "";
                    break;
                case 141:
                    _temple.District = "";
                    break;
            }

            await _context.Temples.AddAsync(_temple);
            await _context.SaveChangesAsync();
            
            NavigationManager.NavigateTo("/");
        }
    }
}