@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using OpenStreetMapForBlazor
@using Temple.Net.Models
@inject IConfiguration config
@inject IJSRuntime JSRuntime
@inject AppDbContext _context
@using Newtonsoft.Json
@using Temple.Blazor.Net.Components.Layout
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<MudPopoverProvider @rendermode="InteractiveServer"/>
<MudSnackbarProvider @rendermode="InteractiveServer"/>

<MudContainer MaxWidth="MaxWidth.Large" Style="width: 45%; margin-bottom: 20px;">
    <MudCard>
        <MudCardContent>
            <h5 class="card-title text-center mb-3 fw-light fs-5">Добавить храм</h5>
            @* <EditForm Model="@_temple" OnSubmit="Sumbit"> *@
            @* <div class="form-floating mb-2"> *@
            <div>
                <MudTextField @bind-Value="_temple.Name" Label="Название"/>
            </div>
            @* <label>Название</label> *@
            @* </div> *@

            <div>
                @* <h3 class="card-title text-center mb-3 fw-light fs-5">Тип храма</h3> *@

                <MudSelect Label="Тип храма" @bind-Value="selectedType">
                    <MudSelectItem Value="1">Кафедральный</MudSelectItem>
                    <MudSelectItem Value="2">Кладбищенский</MudSelectItem>
                    <MudSelectItem Value="3">Приходской</MudSelectItem>
                </MudSelect>
            </div>

            <div style="margin-top: 10px; margin-bottom: 10px;">
                <MudDatePicker TValue="DateTime?" DateFormat="dd.MM.yyyy"
                               Placeholder="Год основания" @bind-Date="_temple.DateStart" Label="Год основания"/>
                @* <label>Год основания</label> *@
            </div>

            @* <br/> *@

            <div>
                @* <h3 class="card-title text-center mb-3 fw-light fs-5">Назначение после закрытия</h3> *@

                <div>

                    <div style="margin-top: 10px; margin-bottom: 10px;">
                        <MudDatePicker TValue="DateTime?" DateFormat="dd.MM.yyyy"
                                       Label="Год закрытия" @bind-Date="_temple.DateEnd"/>
                    </div>

                    <div style="margin-top: 10px; margin-bottom: 10px;">
                        <MudDatePicker TValue="DateTime?" DateFormat="dd.MM.yyyy" Label="Год приспособления"
                                       @bind-Date="_temple.YearAdaptation"/>
                    </div>

                    <MudSelect @bind-Value="@selectedAfterClosing" Label="Назначение после закрытия">
                        <MudSelectItem Value="1">Зернохранилище</MudSelectItem>
                        <MudSelectItem Value="2">Клуб</MudSelectItem>
                        <MudSelectItem Value="3">Склад</MudSelectItem>
                    </MudSelect>

                </div>
            </div>

            <div style="margin-top: 10px; margin-bottom: 10px;">
                <MudDatePicker TValue="DateTime?" DateFormat="dd.MM.yyyy" Label="Год уничтожения" @bind-Date="_temple.YearDestruction" />
            </div>

            <div>
                <h3 class="card-title text-center mb-3 fw-light fs-5">Церковная ориентация</h3>

                <div>
                    <div style="margin-top: 10px; margin-bottom: 10px;">
                        <MudDatePicker TValue="DateTime?" DateFormat="dd.MM.yyyy" Label="Год отпадения" @bind-Date="_temple.Oriention.YearFall" />
                    </div>

                    @* <div class="form-floating mb-2"> *@
                    @*     <input class="form-control" @bind-value="_temple.Oriention.Oriention"> *@
                    @*     <label>Церковная ориентация</label> *@
                    @* </div> *@

                    <MudSelect @bind-Value="@selectedOriention">
                        <MudSelectItem Value="1">Автокефальная</MudSelectItem>
                        <MudSelectItem Value="2">Обновленческая</MudSelectItem>
                        <MudSelectItem Value="3">Тихоновская</MudSelectItem>
                    </MudSelect>

                    <div style="margin-top: 10px; margin-bottom: 10px;">
                        <MudDatePicker DateFormat="dd.MM.yyyy" Label="Год возрата" @bind-Date="_temple.Oriention.YearRefund"/>
                    </div>
                </div>
            </div>

            <div>
                <h3 class="card-title text-center mb-3 fw-light fs-5">Количество прихожан</h3>

                <div>
                    <div style="margin-top: 10px; margin-bottom: 10px;">
                        <MudDatePicker DateFormat="dd.MM.yyyy" Label="Год" @bind-Date="_temple.ParshYear"/>
                    </div>

                    @* <div class="form-floating mb-2"> *@
                    <MudTextField T="int?" @bind-value="_temple.Quantity" Label="Количество"/>
                    @* <label>Количество</label> *@
                    @* </div> *@
                </div>
            </div>

            <div>
                <h3 class="card-title text-center mb-3 fw-light fs-5">Епархии</h3>

                <MudSelect @bind-Value="@selectedDiocese">
                    @if (selectedOriention == 1)
                    {
                    <MudSelectItem Value="1">Минская</MudSelectItem>
                    }
                    else if (selectedOriention == 2)
                    {
                    <MudSelectItem Value="2">Бобруйская</MudSelectItem>
                    <MudSelectItem Value="3">Велижско-Высочанская</MudSelectItem>
                    <MudSelectItem Value="4">Витебская</MudSelectItem>
                    <MudSelectItem Value="5">Гомельская</MudSelectItem>
                    <MudSelectItem Value="6">Минская</MudSelectItem>
                    <MudSelectItem Value="7">Могилевская</MudSelectItem>
                    <MudSelectItem Value="8">Мозырская</MudSelectItem>
                    <MudSelectItem Value="9">Мстиславская</MudSelectItem>
                    <MudSelectItem Value="10">Оршанская</MudSelectItem>
                    <MudSelectItem Value="11">Полоцкая</MudSelectItem>
                    <MudSelectItem Value="12">Слуцкая</MudSelectItem>
                    <MudSelectItem Value="13">Чаусская</MudSelectItem>
                    }
                    else if (selectedOriention == 3)
                    {
                    <MudSelectItem Value="14">Гомельская</MudSelectItem>
                    <MudSelectItem Value="15">Могилевская и Мстиславская</MudSelectItem>
                    <MudSelectItem Value="16">Минская и Туровская</MudSelectItem>
                    <MudSelectItem Value="17">Минская</MudSelectItem>
                    <MudSelectItem Value=18>Минская и Белорусская</MudSelectItem>
                    <MudSelectItem Value="19">Полоцкая и Витебская</MudSelectItem>
                    }
                </MudSelect>
            </div>

            <div>
                <h3 class="card-title text-center mb-3 fw-light fs-5">Губернии и уезды</h3>

                <MudSelect @bind-Value="@selectedProvince">
                    @* <MudSelectGroup Label="Витебская"> *@
                    <MudSelectItem Value="1">Велижский</MudSelectItem>
                    <MudSelectItem Value="2">Витебский</MudSelectItem>
                    <MudSelectItem Value="3">Городокский</MudSelectItem>
                    <MudSelectItem Value="4">Дриссенский</MudSelectItem>
                    <MudSelectItem Value="5">Лепельский</MudSelectItem>
                    <MudSelectItem Value="6">Невельский</MudSelectItem>
                    <MudSelectItem Value="7">Полоцкий</MudSelectItem>
                    <MudSelectItem Value="8">Себежский</MudSelectItem>

                    @* </MudSelectGroup> *@
                    @* <SelectGroup Label="Гомельская"> *@
                    <MudSelectItem Value="9">Быховский</MudSelectItem>
                    <MudSelectItem Value="10">Гомельский</MudSelectItem>
                    <MudSelectItem Value="11">Могилевский</MudSelectItem>
                    <MudSelectItem Value="12">Рогачевский</MudSelectItem>
                    <MudSelectItem Value="13">Чаусский</MudSelectItem>
                    <MudSelectItem Value="14">Чериковский</MudSelectItem>
                    <MudSelectItem Value="15">Горецкий</MudSelectItem>
                    <MudSelectItem Value="16">Климовический</MudSelectItem>
                    <MudSelectItem Value="17">Оршанский</MudSelectItem>
                    @* </SelectGroup> *@
                    @* <SelectGroup Label="Минская"> *@
                    <MudSelectItem Value="18">Бобруйский</MudSelectItem>
                    <MudSelectItem Value="19">Борисовский</MudSelectItem>
                    <MudSelectItem Value="20">Игуменский</MudSelectItem>
                    <MudSelectItem Value="21">Минский</MudSelectItem>
                    <MudSelectItem Value="22">Мозырский</MudSelectItem>
                    <MudSelectItem Value="23">Речицкий</MudSelectItem>
                    <MudSelectItem Value="24">Слуцкий </MudSelectItem>
                    @* </SelectGroup>
                             <SelectGroup Label="Могилевская"> *@
                    <MudSelectItem Value="25">Быховский</MudSelectItem>
                    <MudSelectItem Value="26">Гомельский</MudSelectItem>
                    <MudSelectItem Value="27">Горецкий</MudSelectItem>
                    <MudSelectItem Value="28">Климовичский</MudSelectItem>
                    <MudSelectItem Value="29">Могилевский</MudSelectItem>
                    <MudSelectItem Value="30">Мстиславский</MudSelectItem>
                    <MudSelectItem Value="31">Оршанский</MudSelectItem>
                    <MudSelectItem Value="32">Рогачёвский</MudSelectItem>
                    <MudSelectItem Value="33">Сенненский</MudSelectItem>
                    <MudSelectItem Value="34">Чаусский</MudSelectItem>
                    <MudSelectItem Value="35">Чериковский</MudSelectItem>
                    <MudSelectItem Value="36">Не выбрано</MudSelectItem>
                    @* </SelectGroup> *@
                </MudSelect>
            </div>

            <div>
                <h3 class="card-title text-center mb-3 fw-light fs-5">Округа и районы округов (1924-1930)</h3>

                <MudSelect @bind-Value="@selectedDistrict">
                    @*  <SelectGroup Label="Бобруйский (1924-1930)"> *@
                    <MudSelectItem Value="1">Бобруйский</MudSelectItem>
                    <MudSelectItem Value="2">Бобруйский 1-й</MudSelectItem>
                    <MudSelectItem Value="3">Бобруйский 2-й</MudSelectItem>
                    <MudSelectItem Value="4">Буда-Кошелевский</MudSelectItem>
                    <MudSelectItem Value="5">Городецкий</MudSelectItem>
                    <MudSelectItem Value="6">Глусский</MudSelectItem>
                    <MudSelectItem Value="7">Жлобинский</MudSelectItem>
                    <MudSelectItem Value="8">Кличевский</MudSelectItem>
                    <MudSelectItem Value="9">Краснослободский</MudSelectItem>
                    <MudSelectItem Value="10">Любанский</MudSelectItem>
                    <MudSelectItem Value="11">Осиповичский</MudSelectItem>
                    <MudSelectItem Value="12">Паричский</MudSelectItem>
                    <MudSelectItem Value="13">Рогачевский</MudSelectItem>
                    <MudSelectItem Value="14">Свислочский</MudSelectItem>
                    <MudSelectItem Value="15">Слуцкий</MudSelectItem>
                    <MudSelectItem Value="16">Старобинский</MudSelectItem>
                    <MudSelectItem Value="17">Стародорожский</MudSelectItem>
                    <MudSelectItem Value="18">Стрешинский</MudSelectItem>
                    @*   </SelectGroup>
                             <SelectGroup Label="Борисовский (1924-1927)"> *@
                    <MudSelectItem Value="19">Бегомльский</MudSelectItem>
                    <MudSelectItem Value="20">Березинский</MudSelectItem>
                    <MudSelectItem Value="21">Борисовский</MudSelectItem>
                    <MudSelectItem Value="22">Зембинский</MudSelectItem>
                    <MudSelectItem Value="23">Крупский</MudSelectItem>
                    <MudSelectItem Value="24">Лепельский</MudSelectItem>
                    <MudSelectItem Value="25">Плещеницкий</MudSelectItem>
                    <MudSelectItem Value="26">Холопеничский</MudSelectItem>
                    <MudSelectItem Value="27">Черейский</MudSelectItem>
                    @* </SelectGroup>
                             <SelectGroup Label="Витебский (1924-1930)"> *@
                    <MudSelectItem Value="28">Бешенковичский</MudSelectItem>
                    <MudSelectItem Value="29">Витебский</MudSelectItem>
                    <MudSelectItem Value="30">Высочанский</MudSelectItem>
                    <MudSelectItem Value="31">Городокский</MudSelectItem>
                    <MudSelectItem Value="32">Езерищенский</MudSelectItem>
                    <MudSelectItem Value="33">Лиозненский</MudSelectItem>
                    <MudSelectItem Value="34">Кузнецовский</MudSelectItem>
                    <MudSelectItem Value="35">Межанский</MudSelectItem>
                    <MudSelectItem Value="36">Сенненский</MudSelectItem>
                    <MudSelectItem Value="37">Сиротинский</MudSelectItem>
                    <MudSelectItem Value="38">Суражский</MudSelectItem>
                    <MudSelectItem Value="39">Чашникский</MudSelectItem>
                    @* </SelectGroup>
                             <SelectGroup Label="Калининский (1924-1927) "> *@
                    <MudSelectItem Value="40">Белынковичский</MudSelectItem>
                    <MudSelectItem Value="41">Климовичский</MudSelectItem>
                    <MudSelectItem Value="42">Кастюковичский</MudSelectItem>
                    <MudSelectItem Value="43">Краснопольский</MudSelectItem>
                    <MudSelectItem Value="44">Кричевский</MudSelectItem>
                    <MudSelectItem Value="45">Милославичский</MudSelectItem>
                    <MudSelectItem Value="46">Мстиславский</MudSelectItem>
                    <MudSelectItem Value="47">Расненский</MudSelectItem>
                    <MudSelectItem Value="48">Хотимский</MudSelectItem>
                    <MudSelectItem Value="49">Чериковский</MudSelectItem>
                    @* </SelectGroup>
                             <SelectGroup Label="Могилевский (1924-1930)"> *@
                    <MudSelectItem Value="50">Белыничский</MudSelectItem>
                    <MudSelectItem Value="51">Березинский</MudSelectItem>
                    <MudSelectItem Value="52">Борисовский</MudSelectItem>
                    <MudSelectItem Value="53">Журовичский</MudSelectItem>
                    <MudSelectItem Value="54">Кастюковичский</MudSelectItem>
                    <MudSelectItem Value="55">Климовичский</MudSelectItem>
                    <MudSelectItem Value="56">Кормянский</MudSelectItem>
                    <MudSelectItem Value="57">Краснопольский</MudSelectItem>
                    <MudSelectItem Value="58">Кричевский</MudSelectItem>
                    <MudSelectItem Value="59">Луполовский</MudSelectItem>
                    <MudSelectItem Value="60">Милославичский</MudSelectItem>
                    <MudSelectItem Value="61">Могилевский</MudSelectItem>
                    <MudSelectItem Value="62">Пропойский</MudSelectItem>
                    <MudSelectItem Value="63">Хотимский</MudSelectItem>
                    <MudSelectItem Value="64">Чаусский</MudSelectItem>
                    <MudSelectItem Value="65">Чериковский</MudSelectItem>
                    <MudSelectItem Value="66">Чечевичский</MudSelectItem>
                    <MudSelectItem Value="67">Шкловский</MudSelectItem>
                    @* </SelectGroup>
                             <SelectGroup Label="Минский (1924-1930)"> *@
                    <MudSelectItem Value="68">Бегомльский</MudSelectItem>
                    <MudSelectItem Value="69">Березинский</MudSelectItem>
                    <MudSelectItem Value="70">Борисовский</MudSelectItem>
                    <MudSelectItem Value="71">Гресский</MudSelectItem>
                    <MudSelectItem Value="72">Койдановский</MudSelectItem>
                    <MudSelectItem Value="73">Зембинский</MudSelectItem>
                    <MudSelectItem Value="74">Койдановский</MudSelectItem>
                    <MudSelectItem Value="74">Копыльский</MudSelectItem>
                    <MudSelectItem Value="76">Острошицко-Городокский</MudSelectItem>
                    <MudSelectItem Value="77">Плещеницкий</MudSelectItem>
                    <MudSelectItem Value="78">Пуховичский</MudSelectItem>
                    <MudSelectItem Value="79">Самохваловичский</MudSelectItem>
                    <MudSelectItem Value="80">Смиловичский</MudSelectItem>
                    <MudSelectItem Value="81">Смолевичский</MudSelectItem>
                    <MudSelectItem Value="82">Узденский</MudSelectItem>
                    <MudSelectItem Value="83">Червенский</MudSelectItem>
                    <MudSelectItem Value="84">Холопеничский</MudSelectItem>
                    <MudSelectItem Value="85">Шацкий</MudSelectItem>
                    @* </SelectGroup>
                             <SelectGroup Label="Оршанский (1924-1930)"> *@
                    <MudSelectItem Value="86">Богушевский</MudSelectItem>
                    <MudSelectItem Value="87">Горецкий</MudSelectItem>
                    <MudSelectItem Value="88">Дрибинский</MudSelectItem>
                    <MudSelectItem Value="89">Дубровенский</MudSelectItem>
                    <MudSelectItem Value="90">Копысский</MudSelectItem>
                    <MudSelectItem Value="91">Кохановский</MudSelectItem>
                    <MudSelectItem Value="92">Круглянский</MudSelectItem>
                    <MudSelectItem Value="93">Лядненский</MudSelectItem>
                    <MudSelectItem Value="94">Мстиславский</MudSelectItem>
                    <MudSelectItem Value="95">Оршанский</MudSelectItem>
                    <MudSelectItem Value="96">Расненский</MudSelectItem>
                    <MudSelectItem Value="97">Толочинский</MudSelectItem>
                    @* </SelectGroup>
                             <SelectGroup Label="Полоцкий (1924-1930)"> *@
                    <MudSelectItem Value="98">Ветринский</MudSelectItem>
                    <MudSelectItem Value="99">Волынецкий</MudSelectItem>
                    <MudSelectItem Value="100">Борковичский</MudSelectItem>
                    <MudSelectItem Value="144">Дретунский</MudSelectItem>
                    <MudSelectItem Value="101">Краснопольский</MudSelectItem>
                    <MudSelectItem Value="102">Дриссенский</MudSelectItem>
                    <MudSelectItem Value="103">Освейский</MudSelectItem>
                    <MudSelectItem Value="104">Полоцкий</MudSelectItem>
                    <MudSelectItem Value="105">Россонский</MudSelectItem>
                    <MudSelectItem Value="106">Улльский</MudSelectItem>
                    <MudSelectItem Value="107">Ушачский</MudSelectItem>
                    @* </SelectGroup>
                             <SelectGroup Label="Слуцкий (1924-1927)"> *@
                    <MudSelectItem Value="108">Гресский</MudSelectItem>
                    <MudSelectItem Value="109">Копыльский</MudSelectItem>
                    <MudSelectItem Value="110">Краснослободский</MudSelectItem>
                    <MudSelectItem Value="111">Любанский</MudSelectItem>
                    <MudSelectItem Value="112">Слуцкий</MudSelectItem>
                    <MudSelectItem Value="113">Стародорожский</MudSelectItem>
                    <MudSelectItem Value="114">Плещеницкий</MudSelectItem>
                    <MudSelectItem Value="115">Старобинский</MudSelectItem>
                    @* </SelectGroup>
                             <SelectGroup Label="Гомельский (1926-1930) "> *@
                    <MudSelectItem Value="116">Брагинский</MudSelectItem>
                    <MudSelectItem Value="117">Буда-Кошелевский</MudSelectItem>
                    <MudSelectItem Value="118">Ветковский</MudSelectItem>
                    <MudSelectItem Value="119">Гомельский</MudSelectItem>
                    <MudSelectItem Value="120">Дятловичский</MudSelectItem>
                    <MudSelectItem Value="121">Добрушский</MudSelectItem>
                    <MudSelectItem Value="122">Краснобудский</MudSelectItem>
                    <MudSelectItem Value="123">Носовичский</MudSelectItem>
                    <MudSelectItem Value="124">Светиловичский</MudSelectItem>
                    <MudSelectItem Value="143">Уваровичский</MudSelectItem>
                    <MudSelectItem Value="125">Чечерский</MudSelectItem>
                    <MudSelectItem Value="126">Брагинский</MudSelectItem>
                    <MudSelectItem Value="127">Комаринский</MudSelectItem>
                    <MudSelectItem Value="128">Лоевский</MudSelectItem>
                    <MudSelectItem Value="129">Речицкий</MudSelectItem>
                    <MudSelectItem Value="130">Хойникский</MudSelectItem>
                    <MudSelectItem Value="131">Тереховский</MudSelectItem>
                    <MudSelectItem Value="132">Буда-Кошелевский</MudSelectItem>
                    @* </SelectGroup> *@
                    @* <SelectGroup Label="Речицкий (1926-1927)"> *@
                    <MudSelectItem Value="133">Брагинский</MudSelectItem>
                    <MudSelectItem Value="134">Василевичский</MudSelectItem>
                    <MudSelectItem Value="135">Горвальский</MudSelectItem>
                    <MudSelectItem Value="136">Комаринский</MudSelectItem>
                    <MudSelectItem Value="137">Лоевский</MudSelectItem>
                    <MudSelectItem Value="138">Речицкий</MudSelectItem>
                    <MudSelectItem Value="139">Хойникский</MudSelectItem>
                    <MudSelectItem Value="140">Холмечский</MudSelectItem>
                    <MudSelectItem Value="141">Юровичский</MudSelectItem>
                    <MudSelectItem Value="147">Не выбрано</MudSelectItem>
                    @* </SelectGroup> *@
                </MudSelect>
            </div>

            <div>
                <div style="height: 500px; margin-top: 20px;">
                    <OSMap Click="@MapClickEvent" CenterMap="@defPosition" />
                </div>
            </div>

            <div class="d-grid mb-2">
                <MudButton Style="margin-top: 20px;" Color="Color.Primary" Variant="Variant.Filled" OnClick="Sumbit">Добавить</MudButton>
            </div>
        </MudCardContent>
    </MudCard>
</MudContainer>
 
@code {
    public MapPosition position;
    public bool btnActive;

    MapPosition? defPosition;

    private int selectedType = 1;

    private int selectedOriention = 1;

    private int selectedDiocese = 1;

    private int selectedDistrict = 1;

    private int selectedProvince = 1;

    private int selectedAfterClosing = 1;

    private int selectedTempleOriention = 1;

    private Temple? _temple = new()
    {
        AppointmentsAfterEnd = new()
        {
            Id = Guid.NewGuid().ToString("N")
        },
        Oriention = new()
        {
            Id = Guid.NewGuid().ToString("N")
        },
        Id = Guid.NewGuid().ToString("N")
    };

    protected override void OnInitialized()
    {
        defPosition = new MapPosition() { Lat = config.GetValue<double>("Main:DefLat"), Lng = config.GetValue<double>("Main:DefLng") };
    }

    public void MapClickEvent(MapClickEventArgs args)
    {
        //events.Add(DateTime.Now, $"Map clicked at Lat: {args.Position.Lat}, Lng: {args.Position.Lng}");

        if (args != null) position = args.Position;

        //btnActive = !(position.Lng == defPosition.Lng && position.Lat == defPosition.Lat);
        //actualJson = JsonConvert.SerializeObject(args);

        //StateHasChanged();
    }

    private async Task Sumbit()
    {
        string url = $"https://catalog.api.2gis.com/3.0/items/geocode?lon={defPosition.Lng}&lat={defPosition.Lat}&fields=items.point&key=2c437b2b-790f-4f22-9ec5-3889ea3e0bc4";

        using HttpClient client = new HttpClient();
        HttpResponseMessage response = await client.GetAsync(url.Replace(",", "."));

        if (response.IsSuccessStatusCode)
        {
            string content = await response.Content.ReadAsStringAsync();
            Console.WriteLine(content);

            var data = JsonConvert.DeserializeObject<dynamic>(content);

            // Получение списка элементов
            var items = data.result.items;

            // Цикл по всем элементам
            foreach (var item in items)
            {
                Console.WriteLine($"Full Name: {item.full_name}");
                Console.WriteLine($"Name: {item.name}");
                Console.WriteLine($"Subtype: {item.subtype}");
                Console.WriteLine();
                _temple.Province = item.full_name;

                break;
            }

            _temple.AppointmentsAfterEnd.Id = Guid.NewGuid().ToString("N");
            _temple.Oriention.Id = Guid.NewGuid().ToString("N");
            _temple.Id = Guid.NewGuid().ToString("N");
            
            switch (selectedType)
            {
                case 1:
                    _temple.Type = "Кафедральный";
                    break;
                case 2:
                    _temple.Type = "Кладбищенский";
                    break;
                case 3:
                    _temple.Type = "Монастырский";
                    break;
                case 4:
                    _temple.Type = "Приходской";
                    break;
            }

            switch (selectedOriention)
            {
                case 1:
                    _temple.OrientationDiocesse = "Автокефальная";
                    break;
                case 2:
                    _temple.OrientationDiocesse = "Обновлеченская";
                    break;
                case 3:
                    _temple.OrientationDiocesse = "Тихоновская";
                    break;
                case 4:
                    _temple.OrientationDiocesse = "Сергиевская";
                    break;
            }

            switch (selectedDiocese)
            {
                case 1:
                    _temple.OrientationDiocesse = "Минская";
                    break;
                case 2:
                    _temple.OrientationDiocesse = "Бобруйская";
                    break;
                case 3:
                    _temple.OrientationDiocesse = "Велижско-Высочанская";
                    break;
                case 4:
                    _temple.OrientationDiocesse = "Витебская";
                    break;
                case 5:
                    _temple.OrientationDiocesse = "Гомельская";
                    break;
                case 6:
                    _temple.OrientationDiocesse = "Минская";
                    break;
                case 7:
                    _temple.OrientationDiocesse = "Могилевская";
                    break;
                case 8:
                    _temple.OrientationDiocesse = "Мозырская";
                    break;
                case 9:
                    _temple.OrientationDiocesse = "Мстиславская";
                    break;
                case 10:
                    _temple.OrientationDiocesse = "Оршанская";
                    break;
                case 11:
                    _temple.OrientationDiocesse = "Полоцкая";
                    break;
                case 12:
                    _temple.OrientationDiocesse = "Слуцкая";
                    break;
                case 13:
                    _temple.OrientationDiocesse = "Чаусская";
                    break;
                case 14:
                    _temple.OrientationDiocesse = "Гомельская";
                    break;
                case 15:
                    _temple.OrientationDiocesse = "Могилевская и Мстиславская";
                    break;
                case 16:
                    _temple.OrientationDiocesse = "Минская и Туровская";
                    break;
                case 17:
                    _temple.OrientationDiocesse = "Минская";
                    break;
                case 18:
                    _temple.OrientationDiocesse = "Минская и Белорусская";
                    break;
                case 19:
                    _temple.OrientationDiocesse = "Полоцкая и Витебская";
                    break;
            }

            switch (selectedAfterClosing)
            {
                case 1:
                    _temple.AppointmentsAfterEnd.Appointmenrs = "Зернохранилище";
                    break;
                case 2:
                    _temple.AppointmentsAfterEnd.Appointmenrs = "Клуб";
                    break;
                case 3:
                    _temple.AppointmentsAfterEnd.Appointmenrs = "Склад";
                    break;
            }

            switch (selectedTempleOriention)
            {
                case 1:
                    _temple.Oriention.Oriention = "Автокефальная"; 
                    break;
                case 2:
                    _temple.Oriention.Oriention = "Обновленческая"; 
                    break;
                case 3:
                    _temple.Oriention.Oriention = "Тихоновская"; 
                    break;
                case 4:
                    _temple.Oriention.Oriention = "Сергиевская"; 
                    break;
            }

            switch (selectedDistrict)
            {
                case 1:
                    _temple.District = "Бобруйский";
                    break;
                case 2:
                    _temple.District = "Бобруйский 1-й";
                    break;
                case 3:
                    _temple.District = "Бобруйский 2-й";
                    break;
                case 4:
                    _temple.District = "Буда-Кошелевский";
                    break;
                case 5:
                    _temple.District = "Городецкий";
                    break;
                case 6:
                    _temple.District = "Глусский";
                    break;
                case 7:
                    _temple.District = "Жлобинский";
                    break;
                case 8:
                    _temple.District = "Кличевский";
                    break;
                case 9:
                    _temple.District = "Краснослободский";
                    break;
                case 10:
                    _temple.District = "Любанский";
                    break;
                case 11:
                    _temple.District = "Осиповичский";
                    break;
                case 12:
                    _temple.District = "Паричский";
                    break;
                case 13:
                    _temple.District = "Рогачевский";
                    break;
                case 14:
                    _temple.District = "Свислочский";
                    break;
                case 15:
                    _temple.District = "Слуцкий";
                    break;
                case 16:
                    _temple.District = "Старобинский";
                    break;
                case 17:
                    _temple.District = "Стародорожский";
                    break;
                case 18:
                    _temple.District = "Стрешинский";
                    break;
                case 19:
                    _temple.District = "Бегомльский";
                    break;
                case 20:
                    _temple.District = "Березинский";
                    break;
                case 21:
                    _temple.District = "Борисовский";
                    break;
                case 22:
                    _temple.District = "Зембинский";
                    break;
                case 23:
                    _temple.District = "Крупский";
                    break;
                case 24:
                    _temple.District = "Лепельский";
                    break;
                case 25:
                    _temple.District = "Плещеницкий";
                    break;
                case 26:
                    _temple.District = "Холопеничский";
                    break;
                case 27:
                    _temple.District = "Черейский";
                    break;
                case 28:
                    _temple.District = "Бешенковичский";
                    break;
                case 29:
                    _temple.District = "Витебский";
                    break;
                case 30:
                    _temple.District = "Высочанский";
                    break;
                case 31:
                    _temple.District = "Городокский";
                    break;
                case 32:
                    _temple.District = "Езерищенский";
                    break;
                case 33:
                    _temple.District = "Лиозненский";
                    break;
                case 34:
                    _temple.District = "Кузнецовский";
                    break;
                case 35:
                    _temple.District = "Межанский";
                    break;
                case 36:
                    _temple.District = "Сенненский";
                    break;
                case 37:
                    _temple.District = "Сиротинский";
                    break;
                case 38:
                    _temple.District = "Суражский";
                    break;
                case 39:
                    _temple.District = "Чашникский";
                    break;
                case 40:
                    _temple.District = "Белынковичский";
                    break;
                case 41:
                    _temple.District = "Климовичский";
                    break;
                case 42:
                    _temple.District = "Кастюковичский";
                    break;
                case 43:
                    _temple.District = "Краснопольский";
                    break;
                case 44:
                    _temple.District = "Кричевский";
                    break;
                case 45:
                    _temple.District = "Милославичский";
                    break;
                case 46:
                    _temple.District = "Мстиславский";
                    break;
                case 47:
                    _temple.District = "Расненский";
                    break;
                case 48:
                    _temple.District = "Хотимский";
                    break;
                case 49:
                    _temple.District = "Чериковский";
                    break;
                case 50:
                    _temple.District = "Белыничский";
                    break;
                case 51:
                    _temple.District = "Березинский";
                    break;
                case 52:
                    _temple.District = "Борисовский";
                    break;
                case 53:
                    _temple.District = "Журовичский";
                    break;
                case 54:
                    _temple.District = "Кастюковичский";
                    break;
                case 55:
                    _temple.District = "Климовичский";
                    break;
                case 56:
                    _temple.District = "Кормянский";
                    break;
                case 57:
                    _temple.District = "Краснопольский";
                    break;
                case 58:
                    _temple.District = "Кричевский";
                    break;
                case 59:
                    _temple.District = "Луполовский";
                    break;
                case 60:
                    _temple.District = "Милославичский";
                    break;
                case 61:
                    _temple.District = "Могилевский";
                    break;
                case 62:
                    _temple.District = "Пропойский";
                    break;
                case 63:
                    _temple.District = "Хотимский";
                    break;
                case 64:
                    _temple.District = "Чаусский";
                    break;
                case 65:
                    _temple.District = "Чериковский";
                    break;
                case 66:
                    _temple.District = "Чечевичский";
                    break;
                case 67:
                    _temple.District = "Шкловский";
                    break;
                case 68:
                    _temple.District = "Бегомльский";
                    break;
                case 69:
                    _temple.District = "Березинский";
                    break;
                case 70:
                    _temple.District = "Борисовский";
                    break;
                case 71:
                    _temple.District = "Гресский";
                    break;
                case 72:
                    _temple.District = "Койдановский";
                    break;
                case 73:
                    _temple.District = "Зембинский";
                    break;
                case 74:
                    _temple.District = "Койдановский";
                    break;
                case 75:
                    _temple.District = "Копыльский";
                    break;
                case 76:
                    _temple.District = "Острошицко-Городокский";
                    break;
                case 77:
                    _temple.District = "Плещеницкий";
                    break;
                case 78:
                    _temple.District = "Пуховичский";
                    break;
                case 79:
                    _temple.District = "Самохваловичский";
                    break;
                case 80:
                    _temple.District = "Смиловичский";
                    break;
                case 81:
                    _temple.District = "Смолевичский";
                    break;
                case 82:
                    _temple.District = "Узденский";
                    break;
                case 83:
                    _temple.District = "Червенский";
                    break;
                case 84:
                    _temple.District = "Холопеничский";
                    break;
                case 85:
                    _temple.District = "Шацкий";
                    break;
                case 86:
                    _temple.District = "Богушевский";
                    break;
                case 87:
                    _temple.District = "Горецкий";
                    break;
                case 88:
                    _temple.District = "Дрибинский";
                    break;
                case 89:
                    _temple.District = "Дубровенский";
                    break;
                case 90:
                    _temple.District = "Копысский";
                    break;
                case 91:
                    _temple.District = "Кохановский";
                    break;
                case 92:
                    _temple.District = "Круглянский";
                    break;
                case 93:
                    _temple.District = "Лядненский";
                    break;
                case 94:
                    _temple.District = "Мстиславский";
                    break;
                case 95:
                    _temple.District = "Оршанский";
                    break;
                case 96:
                    _temple.District = "Расненский";
                    break;
                case 97:
                    _temple.District = "Толочинский";
                    break;
                case 98:
                    _temple.District = "Ветринский";
                    break;
                case 99:
                    _temple.District = "Волынецкий";
                    break;
                case 100:
                    _temple.District = "Борковичский";
                    break;
                case 101:
                    _temple.District = "Краснопольский";
                    break;
                case 102:
                    _temple.District = "Дриссенский";
                    break;
                case 103:
                    _temple.District = "Освейский";
                    break;
                case 104:
                    _temple.District = "Полоцкий";
                    break;
                case 105:
                    _temple.District = "Россонский";
                    break;
                case 106:
                    _temple.District = "Улльский";
                    break;
                case 107:
                    _temple.District = "Ушачский";
                    break;
                case 108:
                    _temple.District = "Гресский";
                    break;
                case 109:
                    _temple.District = "Копыльский";
                    break;
                case 110:
                    _temple.District = "Краснослободский";
                    break;
                case 111:
                    _temple.District = "Любанский";
                    break;
                case 112:
                    _temple.District = "Слуцкий";
                    break;
                case 113:
                    _temple.District = "Стародорожский";
                    break;
                case 114:
                    _temple.District = "Плещеницкий";
                    break;
                case 115:
                    _temple.District = "Старобинский";
                    break;
                case 116:
                    _temple.District = "Брагинский";
                    break;
                case 117:
                    _temple.District = "Буда-Кошелевский";
                    break;
                case 118:
                    _temple.District = "Ветковский";
                    break;
                case 119:
                    _temple.District = "Гомельский";
                    break;
                case 120:
                    _temple.District = "Дятловичский";
                    break;
                case 121:
                    _temple.District = "Добрушский";
                    break;
                case 122:
                    _temple.District = "Краснобудский";
                    break;
                case 123:
                    _temple.District = "Носовичский";
                    break;
                case 124:
                    _temple.District = "Светиловичский";
                    break;
                case 125:
                    _temple.District = "Чечерский";
                    break;
                case 126:
                    _temple.District = "Брагинский";
                    break;
                case 127:
                    _temple.District = "Комаринский";
                    break;
                case 128:
                    _temple.District = "Лоевский";
                    break;
                case 129:
                    _temple.District = "Речицкий";
                    break;
                case 130:
                    _temple.District = "Хойникский";
                    break;
                case 131:
                    _temple.District = "Тереховский";
                    break;
                case 132:
                    _temple.District = "Буда-Кошелевский";
                    break;
                case 133:
                    _temple.District = "Брагинский";
                    break;
                case 134:
                    _temple.District = "Василевичский";
                    break;
                case 135:
                    _temple.District = "Горвальский";
                    break;
                case 136:
                    _temple.District = "Комаринский";
                    break;
                case 137:
                    _temple.District = "Лоевский";
                    break;
                case 138:
                    _temple.District = "Речицкий";
                    break;
                case 139:
                    _temple.District = "Хойникский";
                    break;
                case 140:
                    _temple.District = "Хойникский";
                    break;
                case 141:
                    _temple.District = "Юровичский";
                    break;
                case 142:
                    _temple.District = "Хойникский";
                    break;
                case 143:
                    _temple.District = "Уваровичский";
                    break;
                case 144:
                    _temple.District = "Дретунский";
                    break;
                case 147:
                    _temple.District = "Не выбрано";
                    break;
            }

            switch (selectedProvince)
            {
                case 1:
                    _temple.Province = "Велижский";
                    break;
                case 2:
                    _temple.Province = "Витебский";
                    break;
                case 3:
                    _temple.Province = "Городокский";
                    break;
                case 4:
                    _temple.Province = "Дриссенский";
                    break;
                case 5:
                    _temple.Province = "Лепельский";
                    break;
                case 6:
                    _temple.Province = "Невельский";
                    break;
                case 7:
                    _temple.Province = "Полоцкий";
                    break;
                case 8:
                    _temple.Province = "Себежский";
                    break;
                case 9:
                    _temple.Province = "Быховский";
                    break;
                case 10:
                    _temple.Province = "Гомельский";
                    break;
                case 11:
                    _temple.Province = "Могилевский";
                    break;
                case 12:
                    _temple.Province = "Рогачевский";
                    break;
                case 13:
                    _temple.Province = "Чаусский";
                    break;
                case 14:
                    _temple.Province = "Чериковский";
                    break;
                case 15:
                    _temple.Province = "Горецкий";
                    break;
                case 16:
                    _temple.Province = "Климовический";
                    break;
                case 17:
                    _temple.Province = "Оршанский";
                    break;
                case 18:
                    _temple.Province = "Бобруйский";
                    break;
                case 19:
                    _temple.Province = "Борисовский";
                    break;
                case 20:
                    _temple.Province = "Игуменский";
                    break;
                case 21:
                    _temple.Province = "Минский";
                    break;
                case 22:
                    _temple.Province = "Мозырский";
                    break;
                case 23:
                    _temple.Province = "Речицкий";
                    break;
                case 24:
                    _temple.Province = "Слуцкий";
                    break;
                case 25:
                    _temple.Province = "Быховский";
                    break;
                case 26:
                    _temple.Province = "Гомельский";
                    break;
                case 27:
                    _temple.Province = "Горецкий";
                    break;
                case 28:
                    _temple.Province = "Климовичский";
                    break;
                case 29:
                    _temple.Province = "Могилевский";
                    break;
                case 30:
                    _temple.Province = "Мстиславский";
                    break;
                case 31:
                    _temple.Province = "Оршанский";
                    break;
                case 32:
                    _temple.Province = "Рогачёвский";
                    break;
                case 33:
                    _temple.Province = "Сенненский";
                    break;
                case 34:
                    _temple.Province = "Чаусский";
                    break;
                case 35:
                    _temple.Province = "Чаусский";
                    break;
                case 36:
                    _temple.Province = "Не выбрано";
                    break;
            }

            await _context.Temples.AddAsync(_temple);
            await _context.SaveChangesAsync();
            
            NavigationManager.NavigateTo("/?show=true", true);
        }
    }
}